<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.jet.internal.ui.launch.JET2TransformationTabGroup"
            id="org.eclipse.jet.ui.launch.jet2Transformation.tabgroup"
            type="org.eclipse.jet.jet2Transformation"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.jet.jet2Transformation"
            icon="icons/JET2LaunchIcon.gif"
            id="org.eclipse.jet.ui.launch.jet2Transformation.icon"/>
   </extension>
                <extension
                      point="org.eclipse.debug.ui.launchShortcuts">
                   <shortcut
                         class="org.eclipse.jet.internal.ui.launch.LaunchShortcut"
                         icon="icons/JET2LaunchIcon.gif"
                         id="org.eclipse.jet.ui.shortcut1"
                         label="%launchShortcut.label"
                         modes="run">
                      <contextualLaunch>
                         <contextLabel
                               label="%launchShortcut.contextLabel"
                               mode="run"/>
                         <enablement>
                            <with variable="selection">
                               <count value="1"/>
                               <iterate operator="or">
                                  <test
                                        property="org.eclipse.debug.ui.matchesPattern"
                                        value="*.xml"/>
                               </iterate>
                            </with>
                         </enablement>
                      </contextualLaunch>
                      <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
                      <perspective id="org.eclipse.ui.resourcePerspective"/>
                   </shortcut>
                </extension>
                <!--
                <extension
                      point="org.eclipse.jdt.ui.javaElementFilters">
                   <filter
                         class="org.eclipse.jet.internal.ui.filters.JavaFilter"
                         description="%javaElementFilters.javaInJET2Projects.description"
                         enabled="true"
                         id="org.eclipse.jet.javafilter"
                         name="%javaElementFilters.javaInJET2Projects.name"
                         targetId="org.eclipse.jdt.ui.PackageExplorer"/>
                </extension>
                -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jet.wizards"
            class="org.eclipse.jet.ui.newproject.NewProjectWizard"
            hasPages="true"
            icon="icons/JET2ProjectWizard.gif"
            id="org.eclipse.jet.ui.newJet2ProjectWizard"
            name="%newWizards.jet2Project.name"
            project="true">
         <description>%newWizards.jet2Project.description</description>
      </wizard>
      <category
            id="org.eclipse.jet.wizards"
            name="%jet.wizards.category.name"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.eclipse.jet.runtimeProblem"
            name="org.eclipse.jet.runtime.error"
            super="org.eclipse.ui.workbench.texteditor.error"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.jet.runtime.error"
            colorPreferenceKey="jetErrorColor"
            colorPreferenceValue="255,0,0"
            icon="icons/JETRuntimeError.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="jetErrorIsGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="jetErrorIsGoToPrevNavigationTarget"
            label="%runtime.error.label"
            overviewRulerPreferenceKey="jetErrorOverviewRuler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="jetErrorShowInNextPrevDowndownToolbarAction"
            textPreferenceKey="jetErrorText"
            textPreferenceValue="true"
            textStylePreferenceKey="jetErrorTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="jetErrorVerticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jet.ui.jet"
            class="org.eclipse.jet.internal.ui.prefs.CompilePreferencePage"
            id="org.eclipse.jet.ui.compiler"
            name="%prefpage.jet.compilerOptions.title"/>
      <page
            class="org.eclipse.jet.internal.ui.prefs.JETPreferencePage"
            id="org.eclipse.jet.ui.jet"
            name="%prefPage.jet.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.eclipse.jet.internal.ui.prefs.CompilePreferencePage"
            id="org.eclipse.jet.ui.project.jet"
            name="%propPage.jet.title"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.eclipse.jet.jet2Nature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="org.eclipse.jet.internal.ui.launch.JETConsoleColorProvider"
            id="org.eclipse.jet.ui.consoleColorProvider"
            processType="org.eclipse.jet.process"/>
   </extension>

</plugin>
