<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球華文網線上頻道課程專區--線上學習管理系統</title>
<link href="css/backplate.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!-- 可單次點擊即展開的函式
function getCurrentStyle(target,prop){
	if(target.currentStyle){
		return target.currentStyle[prop];//ie
	}
	else if(window.getComputedStyle){
		return document.defaultView.getComputedStyle(target,null)[prop];//ff
	}
	return null;
}
//-->

<!-- 左側選單點擊展開收合功能
function hide(){
	document.getElementById("menu1").style.display = "none";
}

function show(){
	document.getElementById("menu1").style.display = "block";
}

function fmenu1(){
	for(var i=1; i<=2; i++){
	var target=document.getElementById("menu1_"+i);
	if( getCurrentStyle(target,"display") == "none")
				target.style.display = "block";
			else
				target.style.display = "none";	
	}	
}
//-->
</script>
</head>

<body>
<div class="wrapper">
	<div class="sideMenu">
    <img src="images/menu_top.gif" /><br />
    <div class="sideMenuContent">
    <ul class="menu">
    <li onmousedown="fmenu1()"><a href="#">全球華文網</a></li>
    	<li id="menu1_1" class="item"><a href="#">課程管理</a></li>
		<li id="menu1_2" class="item"><a href="#">帳號管理</a></li>
    <li><a href="#">全球華文網</a></li>
    <li><a href="#">全球華文網</a></li>
    <li><a href="#">全球華文網</a></li>
    <li><a href="#">全球華文網</a></li>
    </ul>
    </div><!-- End of sideMenuContent -->
    <div><img src="images/menu_bottom.gif" /></div>
    </div><!-- End of sideMenu -->
    
    <div class="rightContent">
    <span class="title">類別管理</span><!-- End of title -->
    
    <div class="mainContainer">
    	<div class="function">
        <div class="btnAddDelete"><input style="width:50px;" name="" value="新增" type="button" />&nbsp;&nbsp;&nbsp;&nbsp;<input style="width:50px;" name="" value="刪除" type="button" /></div><!-- End of btnAddDelete -->
        <img src="images/icon_quiz.gif" />&nbsp;&nbsp;查詢條件&nbsp;&nbsp;&nbsp;&nbsp;<select style="width:120px;" name=""></select>&nbsp;&nbsp;&nbsp;&nbsp;<input style="width:50px;" name="" value="查詢" type="button" /></div><!-- End of function -->
        
        <table width="634" class="tbl_green" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th width="38">選擇</th>
            <th width="47">序號</th>
            <th width="170">類別</th>
            <th width="178">名稱</th>
            <th width="72">排序</th>
            <th width="70">是否顯示</th>
            <th width="58">功能</th>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr bgcolor="#ececec">
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr bgcolor="#ececec">
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr bgcolor="#ececec">
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
          <tr bgcolor="#ececec">
            <td><label><input type="checkbox" name="checkbox" id="checkbox" /></label></td>
            <td>001</td>
            <td>營隊類別</td>
            <td>新聞記者營</td>
            <td>01</td>
            <td>是</td>
            <td><a class="btnModify" href="#">修改</a></td>
          </tr>
        </table>
        <div class="btnSelect"><a href="">全部選擇</a>&nbsp;│&nbsp;<a  href="">取消選擇</a>&nbsp;│&nbsp;<a href="">反向選擇</a></div><!-- End of btnSelect -->
        
        <div class="page"><a href=""><img src="images/btn_pageFirst.gif" /></a>&nbsp;<a href=""><img src="images/btn_pagePrev.gif" /></a>&nbsp;<a href=""><img src="images/btn_pageNext.gif" /></a>&nbsp;<a href=""><img src="images/btn_pageFinal.gif" /></a>&nbsp;&nbsp;&nbsp;目前在第&nbsp;<select style="width:63px;" name=""></select>&nbsp;頁，總共有 144 頁</div><!-- End of page -->
    </div><!-- End of mainContainer -->
    </div><!-- End of rightContent -->
</div><!-- End of wrapper -->
</body>
</html>
