<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球華文網線上頻道課程專區--線上學習管理系統</title>
<link href="css/backplate.css" rel="stylesheet" type="text/css" />
</head>

<body class="login_body">
<div class="wrapper">
	<div style="position:absolute; top:224px; left:360px;"><label>USER ID</label><input style="width:115px; background:transparent; border:none;" name="" type="text" /></div>
	<div style="position:absolute; top:224px; left:500px;"><label>PASSWORD</label><input style="width:120px; background:transparent; border:none;" name="" type="text" /></div>
    
	<div style="position:absolute; top:310px; left:350px;"><input style="width:60px;" name="" type="text" />&nbsp;&nbsp;<img src="images/code.gif" /></div>
	<a style="position:absolute; top:310px; left:530px;" href=""><img src="images/btn_clear.png" class="png" /></a>
	<a style="position:absolute; top:310px; left:592px;" href=""><img src="images/btn_login.png" class="png" /></a>
</div><!-- End of wrapper -->
</body>
</html>
